.store-cart {
    h2 {
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        margin-top: 18px;
        color: #0C0D36;
    }


    .product-title {
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        /* identical to box height */


        color: #0C0D36;
    }

    .product-subtitle {
        font-weight: normal;
        font-size: 14px;
        /* identical to box height */


        color: #979797;
    }

    .table-cart {
        margin-left: -15px;
        margin-right: -15px;
    }

    th {
        font-weight: 200;
    }

    .cart-image {
        max-height: 85px;
    }

    .btn-remove {
        background-color: #FC5E84;

        &:hover {
            opacity: 0.8;
        }
    }



}