.card-list-product {
    margin-bottom: 15px;
    transition: all 0.3s ease-in-out;

    &:hover {
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    }


    .dashboard-product-title {
        margin-top: 10px;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        /* identical to box height */


        color: #0C0D36;
    }

    .dashboard-product-subtitle {
        font-size: 16px;
        line-height: 24px;
        /* identical to box height */


        color: #C5C5C5;
    }
}