.page-home {
  h1 {
    font-weight: bold;
    margin-bottom: 15px;
  }

  .store-subtitle-landing {
    line-height: 28px;
    color: rgb(146, 146, 146);
  }

  h5 {
    font-weight: 600;
    margin-bottom: 15px;
  }

  .store-products-kilogram {
    margin-top: 100px;
  }

  .store-products-gram {
    margin-top: 100px;
  }

  .store-adventeges {
    margin-top: 100px;

    .title-adventeges {
      text-align: center;
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 20px;
    }
  }
}
