.page-success {
    .row-login {
        min-height: 75vh;
    }

    .section-success {
        h2 {
            font-weight: 200;
            font-size: 28px;
            color: #0C0D36;
            margin-top: 0;
        }

        p {
            font-weight: normal;
            font-size: 16px;

            color: #525252;
        }

        .btn-sign-up {
            @include button-variant(#f3f3f3, transparent);
            color: #bbbbbb;
        }
    }

}