body {
  font-family: "Poppins", sans-serif;
}

// jarak atas setiap content
.page-content {
  margin-top: 100px;
}

// footer
footer {
  border-top: 1px solid #e4e4e4;
  margin-top: 150px;

  p {
    color: #979797;
    text-align: center;
  }
}

// form
.form-control {
  background-color: #f3f3f3;
}

.form-group {
  margin-bottom: 30px;
}
