.card {
    background-color: #fefefe;
    box-shadow: 0px 4px 15px #f1f1f8;
    border-radius: 8px;
    border: none;
    text-decoration: none !important;

    .dashboard-card-title {
        font-size: 16px;
        line-height: 24px;
        color: #c5c5c5;
    }

    .dashboard-card-subtitle {
        font-size: 32px;
        font-weight: 600;
        line-height: 48px;
        color: #0c0c36;
    }
}